.header__exit-btn {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #a9a9a9;
  transition: opacity 0.2s;
}

.header__exit-btn:hover {
  cursor: pointer;
  opacity: 0.6;
}
