.header {
  padding: 45px 200px 40px;
}

.header::after {
  content: "";
  display: block;
  padding-top: 40px;
  border-bottom: 1px solid #545454;
  opacity: .7;
}

@media screen and (max-width: 1279px) {
  .header {
    padding: 45px 100px 40px;
  }
}

@media screen and (max-width: 800px) {
  .header {
    padding: 0 60px 40px;
  }
}

@media screen and (max-width: 550px) {
  .header {
    padding: 0 0 40px;
  }
  .header::after {
    padding-top: 30px;
  }
}
